@use '~/styles/_variables' as *;
@use '~/styles/_mixin' as *;

.wrapper {
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.inner {
  margin-top: 22px;
}

.buttons {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.button {
  flex: 0 1 24%;
  background-color: $color-gray;
  border: none;
  color: $color-white;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  color: $color-black;
  border-radius: 8px;
  @include mq() {
    margin-top: 10px;
    flex: 0 1 48%;
  }
  &[data-selected='true'] {
    background-color: $color-blue;
    color: $color-white;
  }
}
