@use '~/styles/_variables' as *;
@use '~/styles/_mixin' as *;

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 102px;
}

.container {
  max-width: 1440px;
  margin: 24px auto 32px;
  padding: 0 80px;
  @include mq() {
    padding: 0 24px;
  }
}
